@import 'assets/sass/variables'
@import 'assets/sass/colors'

body
    margin: 0
.pw-main
    min-height: calc(100vh - 50px)
.pw-footer
    width: 100%
    height: 50px
    background-color: #f00
    position: relative
    z-index: 9
.espacamento-proporcional-horizontal
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-around
    height: 50px
.home
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: calc(100vh - 50px)
    position: relative